html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #40455B;
    background: #fff;
    font-size: 14px;
    line-height: 22px;
    overflow-x: visible;
    padding-top: 55px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
hr {
    margin-top: 0;
    margin-bottom: 15px;
}
.navbar {
    min-height: 50px;
}
.navbar-brand {
    color:rgb(0, 198, 248);
    font-family: 'Orbitron', cursive;
    line-height: 1.5;
    font-size: 1.75rem;
}
.nav-item{
    padding-right: 20px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.container{
    padding-top: 60px;
}
.row{
    margin-bottom: 18px;
}
pre {
    padding: 15px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}
code {
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #BCBEC0;
    padding: 3px;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}
pre>code {
    border-radius: 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border: 0px;
    padding: 2px;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}
span{
    font-weight: bold;
}
.databases li, .hours li, .operators li{
    margin-bottom: 15px;
}
.footer{
    padding: 15px 0px;
}
#map {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: auto;
}
.leaflet-top{
    padding-top: 10px;
}
.leaflet-control-layers i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
.leaflet-control-layers-overlays{
    padding: 0px 8px 8px 8px;
}
.leaflet-control-layers-overlays>*{
    margin-top: 10px;
}
.leaflet-control-layers-selector[type=checkbox]{
    float: left !important;
    margin-right: 10px;
}
.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { 
    will-change: auto !important; 
}
