<!DOCTYPE html>
<html lang="en">
<head>
    <title>Who's best? | API Documentation</title>
    <% include partials/head %>
    <link rel="stylesheet" href="../css/styles.min.css" />
</head>
<body>
    <% include partials/navbar %>
    <section class="section text-justify">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>API Documentation</h2>
                    <div>
                        <p>¡Welcome to our API documentation!</p>
                        <p>Through this documentation you will be able to register in our system, get your API Key and start performing requests
                            to know more about the popularity of database engines on Twitter.</p>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>First step: Register and get your API Key</h4><hr>
                    <div class="content">
                        <p>Our API is protected, so you will have to do your requests using an API token provided after your registration in our page. You can egister <a href="/auth">here</a>.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>API main URL</h4><hr>
                    <div class="content">
                        <p>The base of the URL you have to use to make your requests is the following one</p>
                        <pre><code>http://whosbest-twitter-map.app.di.ual.es/api/tweets</code></pre>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>How to make a request?</h4><hr>
                    <div class="content">
                        <p>Let's start making requests! But first let us explain how you have to include your API token in the header of your requests.</p>
                        <p>After registering, you should log in order to know the API token you have been assigned. Once you have it, you have to include it in the <span>Headers</span>
                        section of the request, specifically as the value of <span>Authorization</span> key. The pattern this value field has to follow is <span>'Bearer <span style="font-style: italic">token</span>'.</span>
                        </p>
                        <p>Now you have full access to our API!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Get located or not located tweets</h4><hr>
                    <div class="content">
                        <p>You might want to just get certain tweets regarding the existance of their location.
                            You can do it with the following request:</p>
                        <pre><code>http://whosbest-twitter-map.app.di.ual.es/api/tweets/geolocation/<code style="color: #e83e8c;">option</code></code></pre>
                        <p>The "option" field takes a boolean value, where:</p>
                        <ul class="operators">
                            <li><code>true</code> returns all <span>located</span> tweets.</li>
                            <li><code>false</code> returns all <span>not located</span> tweets.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="filtered" class="row">
                <div class="col-sm-12">
                    <h4>Get filtered tweets</h4><hr>
                    <div class="content">
                        <p>In this request you have multiple filters to apply to the returned tweets.</p>
                        <pre><code>http://whosbest-twitter-map.app.di.ual.es/api/tweets/topics/<code style="color: #e83e8c;">topiclist</code>/condition/<code style="color: #e83e8c;">operator</code>/geolocation/<code style="color: #e83e8c;">option</code></code></pre>
                        <p>Apart from the geolocation parameter, which we explained in the previous section, you can add a list 
                            of topics according to the database engines you want to know about. In this sense, there are two possible
                            operators:</p>
                        <ul class="operators">
                            <li><code>and</code>: implies an AND condition, which means that all the topics from the 
                                <code>topiclist</code> parameter should be present in all the returned tweets.
                            </li>
                            <li>
                                <code>or</code>: implies an OR condition. It returns all the tweets in which any of the topics from the 
                                <code>topiclist</code> are present.
                            </li>
                        </ul>
                        <p>The topiclist has to include all the topics you want to track <span>separated by commas</span> and 
                            <span>without</span> spaces between them. You will have to write them like this:
                            <ul class="databases">
                                <li>OracleDatabase</li>
                                <li>MySQL</li>
                                <li>SQLServer</li>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                                <li>DB2</li>
                                <li>Access</li>
                                <li>Elasticsearch</li>
                                <li>SQLite</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Get located/not located tweets since certain hours</h4><hr>
                    <div class="content">
                        <p>In these request you will be able to get the tweets regarding their antiqueness.</p>
                        <pre><code>http://whosbest-twitter-map.app.di.ual.es/api/tweets/geolocation/<code style="color: #e83e8c;">option</code>/since/<code style="color: #e83e8c;">hours</code></code></pre>
                        <p>The <code>hours</code> parameter can take the following values:</p>
                        <ul class="hours">
                            <li>2hours</li>
                            <li>4hours</li>
                            <li>6hours</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Get filtered tweets since certain hours</h4><hr>
                    <div class="content">
                        <p>This call to the API is similar to the <a href="#filtered">"Get filtered tweets" request</a>, but with
                            the hours parameter added, just like we saw in the previous section.</p>
                        <pre><code>http://whosbest-twitter-map.app.di.ual.es/api/tweets/topics/<code style="color: #e83e8c;">topiclist</code>/condition/<code style="color: #e83e8c;">operator</code>/geolocation/<code style="color: #e83e8c;">option</code>/since/<code style="color: #e83e8c;">hours</code></code></pre>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Number of tweets per request</h4><hr>
                    <div class="content">
                        <p>By default, the number of documents retrieved per request is 10. But don't worry! You can extend that number up to 10.000 just by adding
                            the size parameter to the base URL. Here's an example, which would return 100 results:</p>
                        <pre><code>http://whosbest-twitter-map.app.di.ual.es/api/tweets/all?size=100</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>
    <script>
        $(function() {
            $('#api').addClass('active');
        });
    </script>
</body>
</html>