<!DOCTYPE html>
<html lang="en">
<head>
    <title>Who's best? | Profile</title>
    <% include partials/head %>
    <link rel="stylesheet" href="css/styles.min.css"/>
</head>
<body>
    <% include partials/navbar %>
    <section class="section text-justify">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="padding:0;" class="col-sm-12">
                        <h3 class="d-inline-block" style="margin-bottom: 20px; float: left">My profile</h3>
                        <div style="float: right" class="d-inline-block">
                            <a class="btn btn-dark btn-sm" style="background:red;" href="/logout" class="btn btn-dark btn-sm ">
                                Logout
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p><span>Username:</span>   <%= user.email %></p>
                    <p class="d-inline-block" style="float: left"><span>API Token:</span></p>
                    <p class="d-inline-block" style="float: right; width: 93%; overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -ms-hyphens: auto; -moz-hyphens: auto;-webkit-hyphens: auto;hyphens: auto;"><%= user.token %></p>
                
                    
                </div>
                <div class="col-sm-12">
                    <h4 style="margin-bottom: 20px; margin-top: 15px">Change password</h4>
                    <form action="/dashboard/changePassword" method="POST">
                        <div style="width: 35%" class="form-group">
                            <input id="oldPassword" type="password" class="form-control" placeholder="Write your actual password *" value="" required>
                            <div id="invalid-password" class="invalid-feedback">
                                This is not your password.
                            </div>
                        </div>
                        <div style="width: 35%" class="form-group">
                            <input id="password" name="password" type="password" class="form-control" placeholder="Choose a password *" value="" required>
                            <div id="invalid-password" class="invalid-feedback">
                                Your password must have at least 5 characters and a maximum of 50.
                            </div>
                        </div>
                        <div style="width: 35%" class="form-group">
                            <input id="password2" type="password" class="form-control" placeholder="Repeat password *" value="" required>
                            <div id="invalid-password2" class="invalid-feedback">
                                Passwords are not equal.
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" class="btnSubmit btn btn-dark btn-sm" style="background: green" value="Change password" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <iframe src="http://192.168.67.15:5601/app/kibana#/dashboard/b76430a0-8336-11e9-972e-3f2de609bffa?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3A'2019-04-30T22%3A00%3A00.000Z'%2Cto%3Anow))" height="600" width="800"></iframe>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>
    <script>
        $(function() {
            $('#auth').addClass('active');
        });
    </script>
</body>
</html>