<!DOCTYPE html>
<html lang="en">
<head>
    <title>Who's best?</title>
    <meta name="twitter:dnt" content="on">
    <% include partials/head %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="../css/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="../css/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="../css/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="../css/styles.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"/>
    <link rel="stylesheet" href="../css/leaflet-search.css"/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src='../js/leaflet.markercluster.js'></script>
    <script src="../js/leaflet.featuregroup.subgroup.js"></script>
    <script src="../js/leaflet.awesome-markers.min.js"></script>
    <script src="../js/leaflet-timeline-slider.min.js"></script>
    <script src="../js/leaflet-search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
</head>
<body>
    <% include partials/navbar %>
    <div id="map"></div>
    <script src="js/map.loader.js" type="module"></script>
    <script>
        $(function() {
            $('#home').addClass('active');
        });
    </script>
</body>
</html>